.topnav {
    background-color: #252525;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 10px solid #dfb427;
  }
   
  .topnav-name strong{
    padding-bottom: 10px;
  }
  
  .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 13px 20px 0px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica Neue;
  }
  
  .topnav a:hover {
  background-color: white;
  color: #db4848;
  }
  
  .text-center img:hover {
      background-color: white;
      color: black;
  }
  
  
  .topnav a.active {
  background-color: #3c3a3a;
  color: white;
  margin-top: 15px;
  height: 30px;
  width: 100px;
  text-align: center;
  margin-left: 50px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  }
  .topnav a:hover {
    background-color: #E45C2B;
    color: black;
    }
  .topnav-name h4{
    align-items: center;
    font-family: "Helvetica Neue", Helvetica Neue;
    float: left;
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    padding-top: 21px ;
    padding-left: 24px;
    text-decoration: none;
    margin: 0;
    }
  
  .topnav-name img{
    height: 20px;
    width: 42px;
  }

  
  .main-content{
    border-left: 10px solid #dfb427;
    height:fit-content;
     font-family: "Helvetica Neue", Helvetica Neue;
     font-size:small;
    margin: 0;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    background-color: #252525;
    padding: 30px 40px 25px 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .flex-child{
     display: flex;
  }
  .child{
     flex: 1;
     border: 2px ;
  }
  
  .child:first-child{
     margin-right: 20px;
  }
  
  .footer {
      background-color: #252525;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 8%;
  }
    
  .footnote{
      margin-left: 24px;
  }
  

  
  .icon {
      background: url('./resources/favicon.ico');
      height: 30px;
      width: 30px;
      float: left;
      padding-top: 20px; 
      /* Other styles here */
  } 
  
  body {
    background-image: url("./resources/background.jpg");
    background-repeat: no-repeat;
    
    background-position:50%30%;
  }
  